.mycontent{
    padding-top: 100px;
   border: 10px solid rgb(180, 140, 199);
  }
  html,
  body {
    padding-top: 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #0f2c8b;
    margin: 0;
  }
  
  #note {
    position: absolute;
    color: rgba(249,241,204,1);
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    text-align: center;
    user-select: none;
    font-family: Arial;
  }
  