 /* content div */
.nav-link:hover{
  background-color: #ebebeb !important;
  color: #000000 !important;
}

.nav-link{
  border-radius: 30px;
  border-color: rgb(34, 34, 34);
}


/* Something */
.mycontent{
    padding-top: 30px;
    padding-bottom: 30px;
   background: #3f3f3f;
  }
 /* change info bootstrap color to purple */
.btn-info {
    background-color: #7354ad !important;
    border-color: #8860D0 !important;
    }
    .btn-info:hover,
    .btn-info:active,
    .btn-info:visited,
    .btn-info:focus {
    background-color: #694ca0 !important;
    border-color: #694ca0 !important;
    }
  html,
  body {
    height: 100%;
    width: 100%;
    background: #000000;
    color:whitesmoke;
    margin: 0;
  }

