{% extends "Groups/groups_base.html" %}
{% load bootstrap5 %}

{% block pregroup %}
<h1>{{group.name}}</h1>
<h2>Member Count: {{ group.members.count }}</h2>
<div class="content">
    <div class="row">
        {% if user in group.members.all %}
            <a href="{% url 'Groups:leave' slug=group.slug %}"
            class = 'btn btn-lg btn-fill btn-warning'>
            <span class="bi bi-door-open-fill">Leave<span></a>
        {% else %}
        <a href="{% url 'Groups:join' slug=group.slug %}"
        class = "btn btn-lg btn-fill btn-primary"><span
        class = "bi bi-person-plus-fill"></span>Join</a>
        {% endif %}
    </div>
{% endblock %}

{% block group_content %} 
    <div class = "col-md-8">
    {% if group.Posts.count == 0 %}
        <h2> No posts available yet! Start a conversation here! </h2>
    {% else %}
        {% for post in group.Posts.all %}
        {% comment %} inject posts/_post.html using include here {% endcomment %}
            {% include "Posts/_post.html" %}
        {% endfor %}
    {% endif %}
    </div>
    
{% comment %} IF user in group.members.all, render form to post. After post submit is clicked, update page {% endcomment %}   
</div>
{% endblock %}




{% comment %} {% block postgroup %}
    {% if user in group.members.all %}
    <form action="{% url 'Posts:create' %}" method="POST" id="PostForm">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-outline-success me-2" value="Create">
    </form>
    {% else %}
    <a>Join room to start posting!</a>
    {% endif %}
{% endblock %}  {% endcomment %}