{% extends "Groups/groups_base.html" %}
{% block pregroup %}
<div class="col-md-4">
    <div class = "content">
    {% if user.is_authenticated %}
    <h2>Welcome Back!
        <a href="{% url 'Posts:for_user' username=user.username%}">
            @{{user.username}}
        </a>
    </h2>

    {% endif %}
    <h2> Groups </h2>
    <p> Welcome to the groups page!</p>
</div>
    {% if user.is_authenticated %}
    <a href ="{% url 'Groups:create' %}" class = 'btn btn-md btn-fill btn-info'>
        <span class="bi bi-clipboard-plus">Create New Group</span></a>
    {%endif%}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
    <div class="list-group">
        {% for group in object_list %}
        <a class='list-group-item list-group-item-action' href="{% url 'Groups:single' slug=group.slug %}">
            <h3 class='title list-group-item-heading'>{{group.name}}</h3>
            <div class="list-group-item-text container-fluid">
                {% comment %} Using pipe will allow user text to look like what its supposed to{% endcomment %}
                {{group.description_html|safe}}
                <div class="row">
                    <div class="col-md-4">
                        <span class='badge rounded-pill bg-primary'>{{group.members.count}}</span>
                        member{{group.members.count|pluralize}}
                    </div>
                    <div class="col-md-4">
                        <span class='badge rounded-pill bg-primary'>{{group.Posts.count}}</span>
                        post{{group.Posts.count|pluralize}}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
</div>

{% endblock %}