<div class="card text-black bg-secondary text-center">
    <h5>{{comment.message_html|safe|linebreaks}}</h5>
    <div class="card-body text-black bg-secondary">
        <img class="rounded-circle account-img" src="{{ post.user.avatar.url }}" width="20" height="20">
    <span class='username'>
        <a href="{% url 'Posts:for_user' username=comment.user.username %}">@{{comment.user.username}}</a>
    </span>
    <time class='time'>
        <p>{{ comment.create_date }}</p>
    </time>
</div>
</div>